@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-padding-top: 8rem;
}

body {
  overflow: overlay;
}

::-webkit-scrollbar {
  width: clamp(0.6rem, 0.6vw, 0.6vw);
  height: clamp(0.6rem, 0.6vw, 0.6vw);
}

::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 100px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::selection {
  background-color: #14b8a6;
  color: #f8fafc;
}

.vertical-rl {
  writing-mode: vertical-rl;
}

.fill-child svg {
  fill: currentColor;
}

.transition-hamburger {
  transition: background-color 700ms ease-in-out, transform 300ms ease-in-out;
}

.transition-cursor-background {
  transition: background 0.2s ease-in-out;
}

.h-screen-fixed {
  height: calc(100vh - calc(100vh - 100%));
}

@media only screen and (min-width: 1280px) {
  html {
    scroll-padding-top: 10rem;
  }
}

@media only screen and (min-width: 1536px) {
  html {
    scroll-padding-top: 12rem;
  }
}
