@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #bec6d1;
  border-radius: 100px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(to top, #cbd5e1, white);
}

::selection {
  background-color: #14b8a6;
  color: #f8fafc;
}

.vertical-rl {
  writing-mode: vertical-rl;
}

.fill-child svg {
  fill: currentColor;
}

.transition-hamburger {
  transition: background-color 700ms ease-in-out, transform 300ms ease-in-out;
}

.h-screen-fixed {
  height: calc(100vh - calc(100vh - 100%));
}
